<?xml version="1.0" ?>
<launch>
  <arg name="model" default="burger"/>
  <param name="model" value="$(arg model)"/>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <node pkg="tur_niryo_manipulator" type="pose_control" name="turtlebot3_teleop_keyboard"  output="screen">
  </node>
</launch>