<?xml version="1.0" ?>
<launch>
  <arg name="model" default="burger"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="joints_gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- BEGIN ROBOT 1-->
  <group ns="turtlebot3">
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -param robot_description -model $(arg model) -x 0 -y 0 -z 0"
      respawn="false" output="screen" />
    <node if="$(eval arg('joints_gui'))" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node unless="$(eval arg('joints_gui'))" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!-- <include file="$(find tur_niryo_manipulator)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="turtlebot3" />
    </include> -->
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="niryo">
    <param name="robot_description" command=" $(find xacro)/xacro $(find niryo_robot_description)/urdf/ned2/niryo_ned2.urdf.xacro"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -param robot_description -model niryo -x 1 -y 1 -z 0"
      respawn="false" output="screen" />
    <node if="$(eval arg('joints_gui'))" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node unless="$(eval arg('joints_gui'))" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!-- <include file="$(find tur_niryo_manipulator)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -4 -y 4 -z 0" />
      <arg name="robot_name"  value="niryo" />
    </include> -->
  </group>

  <!-- rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tur_niryo_manipulator)/rviz/default.rviz" required="true" />
  

</launch>
